@model Project_DotNET.Models.EditPeriodViewModel
@{
    ViewBag.Title = "Edition d'une période";
}

<h2>@ViewBag.Title</h2>
<div>
    <h4>Informations générales</h4><br />
    <p>@ViewBag.firstName<br />
    @ViewBag.user.lastName<br />
    @ViewBag.user.birthday.ToString("dd MMM yyyy")<br />
    </p><br />

    <h4>Expériences précédentes <button onclick="addJob()">Ajouter une expérience au profil</button></h4> <br />
    <table id="list" class="table table-striped table-hover dt-responsive">
        <thead>
            <tr>
                <td>Début de la période</td>
                <td>Fin de la période</td>
                <td>Métier exercé</td>
                <td>Entreprise</td>
                <td>Ville</td>
                <td>Rôle(s) occupé(s)</td>
                <td>Editer la période</td>
            </tr>
        </thead>
        <tbody>
              <tr>
                    <td>@ViewBag.period.debut.ToString("dd MMM yyyy")</td>
                    <td>@ViewBag.period.fin.ToString("dd MMM yyyy")</td>
                    <td>@ViewBag.period.Job.JobName</td>
                    <td>@ViewBag.period.Company.CompanyName</td>
                    <td>@ViewBag.period.Company.city</td>
                    <td>
                            @foreach (var role in ViewBag.period.AppRole.AppRoles)
                            {
                                @role.AvailableRoleName
                                <button class="btn-primary" onclick="parent.location='/Manage/DeleteRole/ViewBag.period.PeriodId'">Editer</button>
                            }
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section css{
    <link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#list").DataTable();

            $("#list tbody button").click(function () {
                window.location.href = '/Account/AppUser/' + $(this)[0].value;
            });
        })
        function addJob() {
            window.location.href = '/Manage/AddJobToUser';
        }

        function editPeriod(e) {
            window.location.href = '/Manage/EditPeriod/'+e.value;
        }
    </script>
}